{{ $darwin_hostname := "" }}

{{ if eq .chezmoi.os "darwin" }}
{{ $darwin_hostname = promptString "Hostname for macOS" }}
{{ end }}

[data]
{{ if eq .chezmoi.os "darwin" }}
  darwin_hostname = "{{ $darwin_hostname }}"
{{ end }}
