{{- $git_name := promptString "Display name for git commits" -}}
{{- $git_email := promptString "Email for git commits" -}}
{{- $darwin_hostname := promptString "Hostname for macOS" -}}
{{- $signing_key := promptString "Git signing key" -}}
[data]
  git_name = "{{ $git_name }}"
  git_email = "{{ $git_email }}"
  darwin_hostname = "{{ $darwin_hostname }}"
  signing_key = "{{ $signing_key }}"
