# zmodload zsh/zprof

# https://esham.io/2018/02/zsh-profiling
# zmodload zsh/datetime
# setopt PROMPT_SUBST
# PS4='+$EPOCHREALTIME %N:%i> '

# logfile=$(mktemp zsh_profile.XXXXXXXX)
# echo "Logging to $logfile"
# exec 3>&2 2>$logfile

# setopt XTRACE

# Load plugins with zinit
# https://zdharma.org/zinit/wiki/
# https://github.com/zdharma/zinit#ice-modifiers

if [[ ! -d ~/.zinit ]]; then
  mkdir -p ~/.zinit && \
    git clone --depth 1 \
      https://github.com/zdharma/zinit.git \
      ~/.zinit/bin
fi

source ~/.zinit/bin/zinit.zsh

zinit depth"1" light-mode for \
  @romkatv/powerlevel10k

# Load p10k config
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

zinit wait"0" silent depth"1" light-mode for \
  @wfxr/forgit \
  @thetic/extract \
  @MichaelAquilina/zsh-you-should-use \
  @MichaelAquilina/zsh-auto-notify \
  @OMZP::kubectl \
  @PZTM::gnu-utility \
  @PZTM::history \
  @PZTM::directory \
  @agkozak/zsh-z \
  as"program" pick"bin/git-dsf" \
    @zdharma/zsh-diff-so-fancy \
  multisrc:'shell/{completion,key-bindings}.zsh' \
    @junegunn/fzf \
  atinit"zicompinit; zicdreplay" \
    @Aloxaf/fzf-tab \
  as"completion" \
    @https://github.com/docker/cli/blob/master/contrib/completion/zsh/_docker \
  atinit"zicompinit; zicdreplay" \
    @zdharma/fast-syntax-highlighting \
  blockf atpull'zinit creinstall -q .' \
    @zsh-users/zsh-completions \
  atload'_history_substring_search_config' \
    ver'dont-overwrite-config' \
  @zsh-users/zsh-history-substring-search

HISTSIZE=5000 # How many lines of history to keep in memory
HISTFILE=~/.zsh_history # Where to save history to disk
SAVEHIST=5000 # Number of history entries to save to disk

setopt APPENDHISTORY # Append history to the history file (no overwriting)
setopt SHAREHISTORY # Share history across terminals
setopt INCAPPENDHISTORY # Immediately append to the history file, not just when a term is killed

setopt AUTO_PARAM_SLASH # (autocomplete) If completed parameter is a directory, add a trailing slash
unsetopt MENU_COMPLETE # Do not autoselect the first completion entry
unsetopt FLOW_CONTROL # Disable start/stop characters (^Z, ^C, etc) in shell editor

# Shell options

# switch to emacs mode instead of using vi mode
set -o emacs

# changes hex 0x15 and 0x18 0x7f to delete everything to the left of
# the cursor, rather than the whole line.
# https://stackoverflow.com/a/29403520/2465955
bindkey "^U" backward-kill-line
bindkey "^X\\x7f" backward-kill-line

# bind redo to 0x18 0x1f
bindkey "^X^_" redo

# Enable command caching and force prefix matching
zstyle ':completion:*:*' format '-- %d --'
zstyle ':completion:*' accept-exact '*(N)'
zstyle ':completion:*' use-cache yes
zstyle ':completion:*' cache-path ~/.zsh/cache

# https://github.com/ohmyzsh/ohmyzsh/blob/3f42700c0d65cf26470d1e165b8ed80dfff9efca/lib/completion.zsh#L23
zstyle ':completion:*' matcher-list 'm:{a-zA-Z}={A-Za-z}' 'r:|=*' 'l:|=* r:|=*'

# colored man pages
export LESS_TERMCAP_md=$(tput bold; tput setaf 1)
export LESS_TERMCAP_me=$(tput sgr0)
export LESS_TERMCAP_mb=$(tput bold; tput setaf 2)
export LESS_TERMCAP_us=$(tput bold; tput setaf 2)
export LESS_TERMCAP_ue=$(tput rmul; tput sgr0)
export LESS_TERMCAP_so=$(tput bold; tput setaf 3; tput setab 4)
export LESS_TERMCAP_se=$(tput rmso; tput sgr0)

# This loads environment variables
source $HOME/.shell/.exports

# Load my aliases, functions and some external tools
source $HOME/.shell_env

gpg-agent --daemon > /dev/null 2>&1

# unsetopt XTRACE
# exec 2>&3 3>&-
