#
# Executes commands at login pre-zshrc.
#
# Authors:
#   Sorin Ionescu <sorin.ionescu@gmail.com>
#

#
# Browser
#

{{ if eq .chezmoi.os "darwin" }}
export BROWSER='open'
{{ end }}

#
# Editors
#

export EDITOR='nano'
export VISUAL='nano'
export PAGER='less'

#
# Language
#

export LANG='en_US.UTF-8'
export LC_ALL="en_US.UTF-8"

{{ if eq .chezmoi.os "darwin" }}
#
# Homebrew
#

{{ if eq .chezmoi.arch "arm64" }}
export HOMEBREW_PREFIX="/opt/homebrew";
{{ else }}
export HOMEBREW_PREFIX="/usr/local";
{{ end }}
{{ end }}

#
# Paths
#

# Set the list of directories that Zsh searches for programs.
path=(
  # $HOME/.rvm/bin
  $HOME/.cargo/bin
  $HOME/go/bin
  $HOME/Library/Python/*/bin
{{ if eq .chezmoi.os "darwin" }}
  $HOMEBREW_PREFIX/{bin,sbin}
  $HOMEBREW_PREFIX/opt/binutils/bin
{{ end }}
  $path
)
# echo $PATH
# echo $EDITOR

export MANPATH="/opt/homebrew/share/man${MANPATH+:$MANPATH}:";
export INFOPATH="/opt/homebrew/share/info:${INFOPATH:-}";

#
# Less
#

# Set the default Less options.
# Mouse-wheel scrolling has been disabled by -X (disable screen clearing).
# Remove -X and -F (exit if the content fits on one screen) to enable it.
export LESS='-F -g -i -M -R -S -w -X -z-4'

# Set the Less input preprocessor.
# Try both `lesspipe` and `lesspipe.sh` as either might exist on a system.
if (( $#commands[(i)lesspipe(|.sh)] )); then
  export LESSOPEN="| /usr/bin/env $commands[(i)lesspipe(|.sh)] %s 2>&-"
fi
