# https://esham.io/2018/02/zsh-profiling

# zmodload zsh/zprof
# zmodload zsh/datetime
# setopt PROMPT_SUBST
# PS4='+$EPOCHREALTIME %N:%i> '
# logfile=$(mktemp zsh_profile.XXXXXXXX)
# echo "Logging to $logfile"
# exec 3>&2 2>$logfile
# setopt XTRACE

# set -x

source $HOME/.shell/options.zsh # shell options

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "$HOME/.cache/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "$HOME/.cache/p10k-instant-prompt-${(%):-%n}.zsh"
fi

if [[ ! -d ~/.zinit ]]; then
  mkdir -p ~/.zinit && \
    git clone --depth 1 \
      https://github.com/zdharma/zinit.git \
      ~/.zinit/bin
fi

source ~/.zinit/bin/zinit.zsh

zinit \
  depth"1" light-mode nocd \
  atload'[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh' for \
    @romkatv/powerlevel10k

zinit depth"1" light-mode for \
  @zinit-zsh/z-a-bin-gem-node \
  @zinit-zsh/z-a-patch-dl

zinit wait lucid depth"1" light-mode for \
  @agkozak/zsh-z \
  pack"bgn-binary+keys" @fzf \
  id-as"fzf-tmux" sbin'bin/fzf-tmux' \
    @junegunn/fzf \
  as"null" from"gh-r" sbin mv"direnv* -> direnv" \
    atclone'./direnv hook zsh > zhook.zsh' atpull'%atclone' \
    src="zhook.zsh" \
    @direnv/direnv \
  @MichaelAquilina/zsh-you-should-use \
  @MichaelAquilina/zsh-auto-notify

# https://github.com/sorin-ionescu/prezto/blob/master/modules/directory/init.zsh
zinit wait"1" lucid depth"1" light-mode for \
  @wfxr/forgit \
  @thetic/extract \
  @PZTM::gnu-utility \
  @PZTM::directory \
  as"null" sbin"cht.sh" id-as"cht.sh" \
    @https://cht.sh/:cht.sh \
  as"null" sbin cloneopts paulirish/git-open \
  as"null" sbin paulirish/git-recent \
  from"gh-r" sbin"docker-compose" mv"docker* -> docker-compose" \
    @docker/compose \
  as"program" pick"$ZPFX/bin/git-*" src"etc/git-extras-completion.zsh" \
    make"PREFIX=$ZPFX" tj/git-extras

zinit depth"1" light-mode for \
  @hlissner/zsh-autopair \
  atload'__zinit_history_substring_search_atload' \
    @zsh-users/zsh-history-substring-search \
  as'completion' id-as"_cht.sh" \
    @https://cht.sh/:zsh \
  has'docker' as"completion" is-snippet \
    @https://github.com/docker/cli/blob/master/contrib/completion/zsh/_docker \
  as"completion" \
    OMZP::fd/_fd \
  blockf atpull'zinit creinstall -q .' \
    @zsh-users/zsh-completions

autoload -Uz zmv

source $HOME/.shell/completions.zsh # completion config

zinit depth"1" light-mode for \
  @Aloxaf/fzf-tab

zinit wait"0a" lucid depth"1" light-mode for \
  @zdharma/fast-syntax-highlighting

source $HOME/.shell/exports.zsh # environmental veriables
source $HOME/.shell_env # aliases, functions, externals

# unsetopt XTRACE
# exec 2>&3 3>&-
# set +x
