# https://esham.io/2018/02/zsh-profiling

# zmodload zsh/zprof
# zmodload zsh/datetime
# setopt PROMPT_SUBST
# PS4='+$EPOCHREALTIME %N:%i> '
# logfile=$(mktemp zsh_profile.XXXXXXXX)
# echo "Logging to $logfile"
# exec 3>&2 2>$logfile
# setopt XTRACE

# set -x

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "$HOME/.cache/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "$HOME/.cache/p10k-instant-prompt-${(%):-%n}.zsh"
fi

if [[ ! -d ~/.zinit ]]; then
  mkdir -p ~/.zinit && \
    git clone --depth 1 \
      https://github.com/zdharma/zinit.git \
      ~/.zinit/bin
fi

source ~/.zinit/bin/zinit.zsh

zinit depth"1" light-mode for \
  @romkatv/powerlevel10k

# Load p10k config
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

zinit light-mode for \
  @zinit-zsh/z-a-bin-gem-node \
  @zinit-zsh/z-a-patch-dl \
  pack"bgn-binary+keys" @fzf \
  pack"bgn" @ecs-cli \
  pack"bgn" @pyenv \
  id-as"fzf-tmux" sbin'bin/fzf-tmux' \
    @junegunn/fzf

zinit depth"1" light-mode for \
  @hlissner/zsh-autopair \
  @wfxr/forgit \
  @thetic/extract \
  @MichaelAquilina/zsh-you-should-use \
  @MichaelAquilina/zsh-auto-notify \
  @PZTM::gnu-utility \
  @PZTM::history \
  @PZTM::directory \
  @agkozak/zsh-z \
  as"null" sbin"prettyping -> ping" \
    @denilsonsa/prettyping \
  from"gh-r" as"program" mv"direnv* -> direnv" \
    atclone'./direnv hook zsh > zhook.zsh' atpull'%atclone' \
    pick"direnv" src="zhook.zsh" \
    @direnv/direnv \
  as"program" id-as"cht.sh" \
    @https://cht.sh/:cht.sh \
  as'completion' id-as"_cht.sh" \
    @https://cht.sh/:zsh \
  from"gh-r" as"program" mv"docker* -> docker-compose" \
    @docker/compose \
  has'docker' as"completion" is-snippet \
    @https://github.com/docker/cli/blob/master/contrib/completion/zsh/_docker \
  as"completion" \
    OMZP::fd/_fd \
  blockf atpull'zinit creinstall -q .' \
    @zsh-users/zsh-completions

source $HOME/.shell/.completions # completion config

zinit depth"1" light-mode for \
  @Aloxaf/fzf-tab \
  @zdharma/fast-syntax-highlighting

source $HOME/.shell/.options # shell options
source $HOME/.shell/.exports # environmental veriables
source $HOME/.shell/.history  # zsh history config
source $HOME/.shell_env # aliases, functions, externals

# unsetopt XTRACE
# exec 2>&3 3>&-
# set +x
