#!/usr/bin/env bash

# Check environment

if [[ $EUID -eq 0 ]]; then
  echo "This script must not be run as root"
  exit 1
fi

if [[ "$TERM" =~ "screen".* ]]; then
  echo "This script must not be run under a tmux/screen session."
  exit 1
fi

cd {{ .chezmoi.sourceDir }}
pwd

# Shell startup calls virtualenvwrapper_lazy.sh, so we install first
# to avoid errors if user open new shell while still installing
python3 -m pip install --upgrade --user pip
python3 -m pip install --user virtualenv virtualenvwrapper

{{ if ne .chezmoi.os "darwin" }}
exit 0
{{ end }}

# Ask for the administrator password upfront
echo "Asking for sudo privileges."
sudo -v

# Keep-alive: update existing `sudo`
while true; do sudo -n true; sleep 60; kill -0 "$$" || exit; done 2>/dev/null &

# prevent sleep. we will kill this later
caffeinate &
CAFFEINATEPID=$!

set -eE  # same as: `set -o errexit -o errtrace`

function cleanup()
{
  kill $CAFFEINATEPID
}

trap cleanup EXIT

if ! command -v brew &> /dev/null; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# we prioritise these first, for fresh installs these are more important
brew tap dteoh/sqa
brew install dockutil slowquitapps mas 1password dropbox

# Remove unused apps from Dock
# This depends on dockutil so I place this here, I know it makes no sense
dockutil \
  --remove Podcasts \
  --remove Maps \
  --remove Music \
  --remove Contacts \
  --remove TV \
  --remove Calendar \
  --remove News \
  --remove FaceTime

# https://github.com/dteoh/SlowQuitApps
sqa stop || true # will be blocked by macOS security
sqa delay 1000 || true
defaults write com.dteoh.SlowQuitApps invertList -bool YES
defaults write com.dteoh.SlowQuitApps whitelist -array-add com.apple.Safari

# Create locate database
sudo launchctl load -w /System/Library/LaunchDaemons/com.apple.locate.plist || true
