#!/usr/bin/env bash

{{ template "script_darwin_only" . }}
{{ template "script_caffeinate" . }}
{{ template "script_load_nix" . }}

set -e

if command -v darwin-rebuild &> /dev/null
then
  echo "[+] darwin-rebuild switch"
  darwin-rebuild switch
else
  echo "[!] Fatal: darwin-rebuild not found! Something went wrong?"
  exit 1
fi
