#!/usr/bin/env bash

{{ template "script_darwin_only" . }}
{{ template "script_no_root" . }}
{{ template "script_caffeinate" . }}

if [ "$(which gem)" = "/usr/bin/gem" ]; then
  echo "[!] Skipping ruby script since system ruby is being used"
  exit 0
fi

echo "[+] Updating gems"
gem update --system

number_of_cores=$(sysctl -n hw.ncpu)

echo "[+] Set up bundler to use $((number_of_cores - 1)) cores"
bundle config set --global jobs $((number_of_cores - 1))

# gem install --conservative cocoapods
