#!/usr/bin/env bash

{{ template "script_no_root" . }}
{{ template "script_caffeinate" . }}
{{ template "script_darwin_only" . }}
{{ template "script_brew_path" . }}

if [ -z ${HOMEBREW_PREFIX+x} ]; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
  echo "HOMEBREW_PREFIX set to $HOMEBREW_PREFIX"
fi

brew analytics off

# we prioritise these first, for fresh installs these are more important
brew install 1password dropbox mas python@3.9
