#!/usr/bin/env bash

{{ template "script_no_root" . }}
{{ template "script_caffeinate" . }}

python3 -m pip install --upgrade --user pip
python3 -m pip install --user --no-warn-script-location virtualenv virtualenvwrapper

# tj/n
if ! command -v n &> /dev/null && command -v npm &> /dev/null; then
  npm install -g n
fi

# dein.vim
if [ ! -e "$HOME/.cache/dein" ]; then
  curl https://raw.githubusercontent.com/Shougo/dein.vim/master/bin/installer.sh > installer.sh
  sh ./installer.sh ~/.cache/dein
  rm ./installer.sh
fi

# zsh -i -c "(( $+commands[compaudit] )) && compaudit | xargs chmod g-w"
