#!/usr/bin/env bash

{{ template "script_darwin_only" . }}
{{ template "script_sudo" . }}
{{ template "script_caffeinate" . }}
{{ template "script_load_nix" . }}

# Prevent System Preferences from overriding settings we’re about to change
echo "[+] Closing System Preferences"
osascript -e 'tell application "System Preferences" to quit'

echo "[+] Revealing $HOME/Library"
chflags nohidden "$HOME/Library"

echo "[+] Revealing /Volumes"
sudo chflags nohidden /Volumes

if ! sudo launchctl list | grep -q com.apple.locate; then
  echo "[+] Creating database for locate command"
  sudo launchctl load -w /System/Library/LaunchDaemons/com.apple.locate.plist
fi

for dockItemLabel in \
	"App Store" \
	"System Preferences" \
	Calendar \
	Contacts \
	Facetime \
	Freeform \
	Launchpad \
	Maps \
	Music \
	News \
	Notes \
	Photos \
	Podcasts \
	Reminders \
	Safari \
	TV ; do
	dockutil --find "$dockItemLabel" > /dev/null 2>&1 \
    && echo "[+] Removing $dockItemLabel on Dock" \
    && dockutil --no-restart --remove "$dockItemLabel"
done

for app in \
	"cfprefsd" \
	"Dock" \
	"Finder" \
	"Mail" \
	"Photos" \
	"Safari" \
	"SystemUIServer" \
  "Activity Monitor"; do
	killall "${app}" &> /dev/null && echo "[+] Killed ${app}" || true
done
