#!/usr/bin/env bash

{{ template "script_darwin_only" . }}

{{ if eq .chezmoi.arch "arm64" }}
{{ template "script_no_root" . }}
{{ template "script_caffeinate" . }}
/usr/sbin/softwareupdate --install-rosetta --agree-to-license
{{ else }}
echo Skipping Rosetta installation on non-M1 macs.
{{ end }}
