#!/usr/bin/env bash

{{ template "script_no_root" . }}
{{ template "script_caffeinate" . }}

# TODO: migrate to using nix

python3 -m pip install --upgrade --user pip
python3 -m pip install --user --no-warn-script-location virtualenv virtualenvwrapper

# tj/n
if ! command -v n &> /dev/null && command -v npm &> /dev/null; then
  npm install -g n
fi
