#!/usr/bin/env zsh

# `.aliases` is used to provide custom variables.
#
# This file is used as a part of `.shell_env`

# === Aliases ===

sudo() {
  unset -f sudo
  if [[ "$(uname)" == 'Darwin' ]] && ! grep 'pam_tid.so' /etc/pam.d/sudo --silent; then
    sudo sed -i -e '1s;^;auth       sufficient     pam_tid.so\n;' /etc/pam.d/sudo
  fi
  sudo "$@"
}

# https://github.com/sorin-ionescu/prezto/blob/master/modules/utility/init.zsh

# Disable correction.
alias ack='nocorrect ack'
alias cd='nocorrect cd'
alias cp='nocorrect cp'
alias ebuild='nocorrect ebuild'
alias gcc='nocorrect gcc'
alias gist='nocorrect gist'
alias grep='nocorrect grep'
alias heroku='nocorrect heroku'
alias ln='nocorrect ln'
alias man='nocorrect man'
alias mkdir='nocorrect mkdir'
alias mv='nocorrect mv'
alias mysql='nocorrect mysql'
alias rm='nocorrect rm'

# Disable globbing.
alias bower='noglob bower'
alias fc='noglob fc'
alias find='noglob find'
alias ftp='noglob ftp'
alias history='noglob history'
alias locate='noglob locate'
alias rake='noglob rake'
alias rsync='noglob rsync'
alias scp='noglob scp'
alias sftp='noglob sftp'

# Define general aliases.
alias _='sudo'
alias b='${(z)BROWSER}'

alias diffu="diff --unified"
# alias mkdir="${aliases[mkdir]:-mkdir} -p"
alias p='${(z)PAGER}'
alias po='popd'
alias pu='pushd'
alias sa='alias | grep -i'
alias type='type -a'

# Safe ops. Ask the user before doing anything destructive.
alias rmi="${aliases[rm]:-rm} -i"
alias mvi="${aliases[mv]:-mv} -i"
alias cpi="${aliases[cp]:-cp} -i"
alias lni="${aliases[ln]:-ln} -i"
if zstyle -T ':prezto:module:utility' safe-ops; then
  alias rm="${aliases[rm]:-rm} -i"
  alias mv="${aliases[mv]:-mv} -i"
  alias cp="${aliases[cp]:-cp} -i"
  alias ln="${aliases[ln]:-ln} -i"
fi

alias l='ls -1A'         # Lists in one column, hidden files.
alias ll='ls -lh'        # Lists human readable sizes.
alias lr='ll -R'         # Lists human readable sizes, recursively.
alias la='ll -A'         # Lists human readable sizes, hidden files.
alias lm='la | "$PAGER"' # Lists human readable sizes, hidden files through pager.
alias lx='ll -XB'        # Lists sorted by extension (GNU only).
alias lk='ll -Sr'        # Lists sorted by size, largest last.
alias lt='ll -tr'        # Lists sorted by date, most recent last.
alias lc='lt -c'         # Lists sorted by date, most recent last, shows change time.
alias lu='lt -u'         # Lists sorted by date, most recent last, shows access time.
alias sl='ls'            # I often screw this up.

command -v exa > /dev/null && {
  alias ls='exa'
  alias tree='ls -lha --tree'
  alias l='ls -1a'
  alias la='ll -a'
}

command -v lsd > /dev/null && {
  alias ls='lsd --group-dirs first'
  alias tree='ls -lhA --tree'
}

alias grep="${aliases[grep]:-grep} --color=auto"

# File Download
if (( $+commands[curl] )); then
  alias get='curl --continue-at - --location --progress-bar --remote-name --remote-time'
elif (( $+commands[wget] )); then
  alias get='wget --continue --progress=bar --timestamping'
fi

alias http-serve='python3 -m http.server'

{{ if eq .chezmoi.os "darwin" }}
alias o='open'

alias pbc='pbcopy'
alias pbp='pbpaste'

# send to yoink
alias yoink="open -a Yoink"

# Bell when the program is finished. It is useful for some
# time-consuming operations. Like:
# > npm install | a
alias a="terminal-notifier -sound default -message 'Command complete' -title 'iTerm 2'"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Copy public key to clipboard:
alias pubkey="cat ~/.ssh/id_ed25519.pub | pbcopy | echo '=> Public key (ed25519) copied to pasteboard.'"
alias sshkey="pubkey"

# Homebrew
alias brewery='brew update && brew upgrade && brew cleanup'

# GNU tar
command -v gtar > /dev/null && alias tar='gtar'

# Quick connect
alias q='ssh -v'

# dig
command -v kdig > /dev/null && alias dig='kdig'

command -v gh > /dev/null && alias gist='gh gist create'
{{ end }}

alias urldecode='python3 -c "import sys, urllib.parse as ul; \
    print(ul.unquote_plus(sys.argv[1]))"'

alias urlencode='python3 -c "import sys, urllib.parse as ul; \
    print (ul.quote_plus(sys.argv[1]))"'

alias mtr='sudo mtr'

# Clear ZSH history
alias clear_history='> ~/.zsh_history ; exec $SHELL -l'

# htop => top
command -v htop > /dev/null && alias top="sudo htop"

command -v tldr > /dev/null && alias help='tldr'

alias gitify="g init && gia --all && gcSm First commit && hub create && gpc"

# View disk usage
command -v ncdu > /dev/null && alias du="ncdu --color dark -rr -x --exclude .git --exclude node_modules"

# docker
command -v docker > /dev/null && {
  alias d='docker'
  alias dp='docker ps -a'
  alias dr='docker rm'
  alias di='docker inspect'
  alias dvl='docker volume ls'
  alias dvi='docker volume inspect'
  alias dvp='docker volume inspect --format ''{{"{{"}} .Mountpoint {{"}}"}}'''
  
  # compose
  alias dc='docker-compose'
  alias dclf='docker-compose logs -f'
  alias dcu='docker-compose up -d'
  alias dcr='docker-compose restart'
  alias dcub='docker-compose up -d --build'
  alias dcb='docker-compose build'
  alias dcd='docker-compose down'
}
