#!/usr/bin/env bash

# `.exports` is used to provide custom variables.
#
# This file is used as a part of `.shell_env`

# === General ===

# Language
export LANG=en_US.UTF-8
export LC_ALL="en_US.UTF-8"

# Editor:
{{- if eq .chezmoi.os "darwin" }}
export EDITOR="$(which code) --wait"
{{- else }}
export EDITOR=$(which vim)
{{- end }}
export VISUAL=${EDITOR}

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8'

{{- if eq .chezmoi.os "darwin" }}
# Homebrew:
export HOMEBREW_NO_ANALYTICS=1  # disables statistics that brew collects
{{- end }}

# Pagers:
export LESS="-R"  # argument to allow less to show colors
export PAGER='bat --color always --style plain'
export MANPAGER='bat --color always --style plain'

# === Virtualenvs ===

export PIPENV_VENV_IN_PROJECT=true # look for `.venv` dir inside project
export PIPENV_HIDE_EMOJIS=true # no emojis!
export PIPENV_COLORBLIND=true # disables colors, so colorful!
export PIPENV_NOSPIN=true # disables spinner for cleaner logs

export DOTNET_CLI_TELEMETRY_OPTOUT=1


# === Version managers ===

# n
export N_PREFIX="$HOME/.n"
[[ :$PATH: == *":$N_PREFIX/bin:"* ]] || PATH+=":$N_PREFIX/bin"

# virtualenvwrapper
export WORKON_HOME=$HOME/.virtualenvs
export PROJECT_HOME=$HOME/Devel
export VIRTUALENVWRAPPER_PYTHON=$(which python3)
source /usr/local/bin/virtualenvwrapper.sh

# === Histories ===

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY="$HOME/.node_history"

# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy'

# Erlang and Elixir shell history:
export ERL_AFLAGS="-kernel shell_history enabled"

# === Others ===

export ANSIBLE_HOST_KEY_CHECKING=False
export ANTIBODY_HOME=~/Libary/antibody
