#!/usr/bin/env zsh

# `.exports` is used to provide custom variables.
#
# This file is used as a part of `.shell_env`

# === General ===

# Language
export LANG=en_US.UTF-8
export LC_ALL="en_US.UTF-8"

# Editor:
{{ if eq .chezmoi.os "darwin" }}
export EDITOR="$(which code)"
{{ else }}
export EDITOR=$(which vim)
{{ end }}
export VISUAL=${EDITOR}

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8'

{{ if eq .chezmoi.os "darwin" }}
# GPG AGENT
export SSH_AUTH_SOCK=$HOME/.gnupg/S.gpg-agent.ssh

# Homebrew:
export HOMEBREW_NO_ANALYTICS=1  # disables statistics that brew collects
{{ end }}

# grep colors
export GREP_COLOR='37;45'           # BSD.
export GREP_COLORS="mt=$GREP_COLOR" # GNU.

# Pagers:
export LESS="-R"  # argument to allow less to show colors

# Colored man pages
export LESS_TERMCAP_md=$(tput bold; tput setaf 1)
export LESS_TERMCAP_me=$(tput sgr0)
export LESS_TERMCAP_mb=$(tput bold; tput setaf 2)
export LESS_TERMCAP_us=$(tput bold; tput setaf 2)
export LESS_TERMCAP_ue=$(tput rmul; tput sgr0)
export LESS_TERMCAP_so=$(tput bold; tput setaf 3; tput setab 4)
export LESS_TERMCAP_se=$(tput rmso; tput sgr0)

# dotnet
export DOTNET_CLI_TELEMETRY_OPTOUT=1

export CLOUDSDK_PYTHON="/usr/local/opt/python@3.8/libexec/bin/python"
export ANSIBLE_HOST_KEY_CHECKING=False

# === Virtualenvs ===

export PIPENV_VENV_IN_PROJECT=true # look for `.venv` dir inside project
export PIPENV_HIDE_EMOJIS=true # no emojis!
export PIPENV_COLORBLIND=true # disables colors, so colorful!
export PIPENV_NOSPIN=true # disables spinner for cleaner logs

# virtualenvwrapper
export WORKON_HOME=$HOME/.virtualenvs
export PROJECT_HOME=$HOME/Devel
export VIRTUALENVWRAPPER_PYTHON=$commands[python3]
source /usr/local/bin/virtualenvwrapper_lazy.sh

# === Version managers ===

# n
export N_PREFIX="$HOME/.n"
PATH="$N_PREFIX/bin:$PATH"

# === Histories ===

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY="$HOME/.node_history"

# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy'

# Erlang and Elixir shell history:
export ERL_AFLAGS="-kernel shell_history enabled"
