#!/usr/bin/env zsh

# `.external` handles all external tools.
#
# This file is used as a part of `.shell_env`

eval "$(direnv hook zsh)"
gpg-agent --daemon > /dev/null 2>&1

# === forgit ===

export FORGIT_FZF_DEFAULT_OPTS="
  --exact
  --border
  --cycle
  --reverse
  --height '80%'
  --preview-window='right:80%:nohidden:nowrap'
"

# === fzf ===

typeset -AU __FZF

__FZF[PREVIEW_DIR]="lsd --tree --icon always --depth 2 --color=always --timesort"

# TAB / Shift-TAB: multiple selections
# ^S: preview page up, ^D: preview page down
# ?: toggle preview window
# ^O: open with $VISUAL (`code` on macOS)
export FZF_DEFAULT_OPTS="
  --ansi
  --no-height
  --no-reverse
  --border
  --inline-info
  --prompt='» '
  --pointer=' '
  --marker='✓ '
  --reverse
  --tabstop 2
  --multi
  --bind 'ctrl-s:preview-page-up'
  --bind 'ctrl-d:preview-page-down'
  --bind 'ctrl-o:execute($VISUAL {})+abort'
  --bind '?:toggle-preview'"

export FZF_PREVIEW_COMMAND="bat --style=numbers,changes --wrap never --color always {} || cat {} || ${__FZF[PREVIEW_DIR]} {}"

export FZF_CTRL_T_OPTS="
  --preview '($FZF_PREVIEW_COMMAND)'
  --preview-window right:60%:border"

{{ if eq .chezmoi.os "darwin" }}
export FZF_CTRL_R_OPTS="
  --preview 'echo {}'
  --preview-window down:3:wrap:hidden
  --bind '?:toggle-preview,ctrl-y:execute-silent(echo -n {2..} | pbcopy)+abort'
  --header 'Press ^Y to copy command into clipboard'"
{{ else }}
export FZF_CTRL_R_OPTS="
  --preview 'echo {}'
  --preview-window down:3:wrap:hidden
  --bind '?:toggle-preview,ctrl-y:execute-silent(echo -n {2..} | xclip)+abort'
  --header 'Press ^Y to copy command into clipboard'"
{{ end }}

export FZF_ALT_C_OPTS="--preview '${__FZF[PREVIEW_DIR]} {}'"

export FZF_COMPLETION_OPTS='+c -x'

# === fzf-tab ===

# env
zstyle ':fzf-tab:complete:(-command-|-parameter-|-brace-parameter-|export|unset|expand):*' \
	fzf-preview 'echo ${(P)word}'

# cd
# $realpath issue: https://github.com/Aloxaf/fzf-tab/issues/231
zstyle ':fzf-tab:complete:cd:*' fzf-preview ${__FZF[PREVIEW_DIR]}' ${realpath//\\ / }'

# kill/ps
zstyle ':fzf-tab:complete:(kill|ps):*' fzf-flags --preview-window 'down:3:wrap'

{{ if eq .chezmoi.os "darwin" }}
zstyle ':completion:*:processes-names' command "ps -wwrcau$USER -o comm | uniq" # killall
zstyle ':completion:*:*:*:*:processes' command "ps -wwrcau$USER -o pid,user,%cpu,%mem,stat,comm"
zstyle ':fzf-tab:complete:(kill|ps):argument-rest' fzf-preview \
  '[[ $group == "[process ID]" ]] && ps -wwp$word -o comm='
{{ end }}
{{ if eq .chezmoi.os "linux" }}
if [[ "$OSTYPE" = solaris* ]]; then
  zstyle ':completion:*:*:*:*:processes' command "ps -u $USER -o pid,user,comm"
else
  zstyle ':completion:*:*:*:*:processes' command "ps -u $USER -o pid,user,comm -w -w"
fi
zstyle ':fzf-tab:complete:(kill|ps):argument-rest' fzf-preview \
  '[[ $group == "[process ID]" ]] && ps --pid=$word -o cmd --no-headers -w -w'
{{ end }}
