#!/usr/bin/env zsh

# `.external` handles all external tools.
#
# This file is used as a part of `.shell_env`

# === forgit ===

export FORGIT_FZF_DEFAULT_OPTS="
  --exact
  --border
  --cycle
  --reverse
  --height '80%'
  --preview-window='right:80%:nohidden:nowrap'
"

# === fzf ===

export FZF_DEFAULT_OPTS="
  --bind='ctrl-u:preview-page-up'
  --bind='ctrl-d:preview-page-down'
  --bind='ctrl-o:execute($VISUAL {})+abort'
  --preview-window 'right:60%:hidden:wrap'
  --preview '([[ -d {} ]] && tree -C {}) || ([[ -f {} ]] && bat --style=full --color=always {}) || echo {}'"

(( $+commands[fd] )) && export FZF_DEFAULT_COMMAND='fd --type f --hidden --follow --exclude .git'
(( $+commands[ag] )) && export FZF_DEFAULT_COMMAND='ag --hidden --ignore .git --depth 3 -g ""'
(( $+commands[fd] )) && export FZF_ALT_C_COMMAND='fd --type d --hidden --follow --exclude .git'
(( $+commands[fd] )) && export FZF_CTRL_T_COMMAND='fd --type f --type d --hidden --follow --exclude .git'

# https://github.com/junegunn/fzf/wiki/Configuring-shell-key-bindings#full-command-on-preview-window
export FZF_CTRL_T_OPTS="--preview-window 'right:60%:wrap' --bind '?:toggle-preview'"
export FZF_CTRL_R_OPTS="--preview 'echo {}' --preview-window down:3:hidden:wrap --bind '?:toggle-preview'"

# Apply the command to CTRL-T as well
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"

# Use fd (https://github.com/sharkdp/fd) instead of the default find
# command for listing path candidates.
# https://ivergara.github.io/Supercharging-shell.html
_fzf_compgen_path() {
  fd --hidden --follow --exclude ".git" . "$1"
}

function _history_substring_search_config() {
    bindkey '^[[A' history-substring-search-up
    bindkey '^[[B' history-substring-search-down
}

# === fzf-tab ===

# Used by below to extract realpath
local extract="
local in=\${\${\"\$(<{f})\"%\$'\0'*}#*\$'\0'}
local -A ctxt=(\"\${(@ps:\2:)CTXT}\")
local realpath=\${ctxt[IPREFIX]}\${ctxt[hpre]}\$in
realpath=\${(Qe)~realpath}
"

zstyle ':fzf-tab:complete:cd:*' extra-opts --preview-window 'right:60%:wrap' --preview=$extract'lsd --group-dirs first --color=always --icon always $realpath'
# zstyle ':completion:*:*:*:*:processes' command "ps -u $USER -o pid,user,comm,cmd -w -w"
zstyle ':fzf-tab:complete:kill:argument-rest' extra-opts --preview-window 'right:60%:wrap' --preview=$extract'ps -p $in[(w)1] -o command -w' --preview-window=down:3:wrap

FPATH=$FPATH:/usr/local/share/zsh/site-functions
